<p id="notice"><%= notice %></p>
<div class="col-md-12">
<h1>Orders</h1>
<br>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="heading">
      <th>Customerid</th>
      <th>Employeeid</th>
      <th>Orderdate</th>
      <th>Requireddate</th>
      <th>Shippeddate</th>
      <th>Shipvia</th>
      <th>Freight</th>
      <th>Shipname</th>
      <th>Shipaddress</th>
      <th>Shipcity</th>
      <th>Shipregion</th>
      <th>Shippostalcode</th>
      <th>Shipcountry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="table-condensed">
        <td><%= order.CustomerId %></td>
        <td><%= order.EmployeeId %></td>
        <td><%= order.orderdate %></td>
        <td><%= order.RequiredDate %></td>
        <td><%= order.ShippedDate %></td>
        <td><%= order.ShipVia %></td>
        <td><%= order.Freight %></td>
        <td><%= order.ShipName %></td>
        <td><%= order.ShipAddress %></td>
        <td><%= order.ShipCity %></td>
        <td><%= order.ShipRegion %></td>
        <td><%= order.ShipPostalCode %></td>
        <td><%= order.ShipCountry %></td>
        <td><%= link_to 'Show', order, class: "btn btn-lg btn-primary" %></td>
        <td><%= link_to 'Edit', edit_order_path(order),class: "btn btn-lg btn-warning" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-lg btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New Order', new_order_path %>
