<!DOCTYPE html>
<html>
  <head>
    <title>Customer Orders App</title>
	<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
	<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>


  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	  <h4><%= link_to "Customer Orders App", '#', id: "logo", :class=>"nav-bar" %></h4>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', controller: 'welcome' %> </li>
            <li><%= link_to 'Orders', controller: 'orders' %>  </li>
            <li><%= link_to 'Customers', controller: 'customers' %></li>
			<li><%= link_to 'Products', controller: 'products' %> </li>
          </ul>
        </nav>
      </div>
    </header>
 
  <div class="container">
  <br><br><br>
    <%= yield %>
  </div>
  </body>
</html>
