<!DOCTYPE html>
<html>
  <head>
    <title>Customer Orders App</title>
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
	<%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
  <div class="container">
	<%= link_to 'Home', controller: 'welcome' %>  <%= link_to 'Orders', controller: 'orders' %>  <%= link_to 'Customers', controller: 'customers' %> <%= link_to 'Products', controller: 'products' %> 
    <%= yield %>
  </div>
  </body>
</html>
