<!DOCTYPE html>
<html>
  <head>
    <title>Customer Orders App</title>
	
    <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstra‌​p.min.css' %>
	<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap‌​.min.js' %>

	<%= csrf_meta_tags %>

  </head>

  <body>
  <div class="container">
	<%= link_to 'Home', controller: 'welcome' %>  <%= link_to 'Orders', controller: 'orders' %>  <%= link_to 'Customers', controller: 'customers' %> <%= link_to 'Products', controller: 'products' %> 
    <%= yield %>
  </div>
  </body>
</html>
